#body {
    overflow: auto;
}

.section {
    width: 450px;
    float: left;
    margin-right: 50px;
}

dt {
    font-weight: bold;
    border-top: 1px solid #eeeeee;
    padding-top: 1em;
}

dd {
    margin: 0 0 1em 0;
}

pre {
    background-color: #eeeeee;
    padding: 3px;
}
