body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 20px 40px 0 40px;
}

#progress-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  background-color: #222222;
}

#progress {
  height: 100%;
  background-color: #00aeef;
}

h1 {
  font-size: 30px;
  margin-top: 30px;
}

#left {
  width: 300px;
  float: left;
}

#swf_wrapper {
    position: relative;
    display: inline-block;
}

#controls {
    margin-bottom: 20px;
}

.button, #controls span {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 6px;
    -webkit-border-radius: 3px;
    cursor: default;
}

#swf {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
  border: none;
}

a {
  color: #000000;
}

a:hover {
  background-color: #222222;
  color: #ffffff;
}

#right {
  height: 400px;
    margin-left: 300px;
    position: relative;
}

#editor {
  position: absolute;
  left: 0;
  right: 0;
}

textarea {
  border: 8px solid #eeeeee;
  padding: 6px;
  font-family: monospace;
  font-size: 14px;
  outline: none;
  width: 100%;
  height: 100%;
}

#tracks {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

#tracks li:first-child {
    border-top: none;
}

#tracks li {
    border-top: 1px solid #eeeeee;
    padding: 10px 0;
}

.track_title {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.track_sound_status, .track_analysis_status {
    display: inline-block;
    width: 120px;
    font-size: 10px;
}
